
body{
/* background: #90f17e; */
/* margin: 0 auto;
width:960px; */
background: #f9c4ca;
}

h1, h2{
    color:white;
    text-shadow: 2px 1.5px #000000;
}

h3{
    color:black;
}

.container{
    margin-top:15px;
    width:870px;
}

.panel{
    background: url(../images/tv-png.png);
    flex:1 1;
    height:660px;
    background-repeat: no-repeat;
    background-size: contain;
     margin:4vmin;
    overflow:hidden;
    position:relative;
    padding:20px;
} 

#start-title{
    position: absolute;
    top:25%;
    left:25%;
}

#start-button{
position: absolute;
    top:45%;
    left:40%;
}

#timeLeft{
    position: absolute;
    top:15%;
    right:30%;
}

#currentQuestion{
    position: absolute;
    top:15%;
    left:17%;   
}

.question{
    position: absolute;
    top:25%;
    left:15%;
    width:50%;
}

.answerChoices{
    position: absolute;
    top:40%;
    left:15%;
    font-size: 25px;
    color:black;
    font-weight: bold;
}

.answerChoices:hover{
    cursor: pointer;
}

#message{
    position: absolute;
    top:25%;
    left:15%;
}

#correctedAnswer{
    position: absolute;
    top:30%;
    left:15%;
} 