
body{
background: #f9c4ca;
}

h1, h2, h3{
    color:black;
}

.answerChoices:hover{
    cursor: pointer;
}

/* 
#start-title{
    position: absolute;
    top:25%;
    left:25%;
}

#start-button{
position: absolute;
    top:45%;
    left:40%;
}

#timeLeft{
    position: absolute;
    top:15%;
    right:30%;
}

#currentQuestion{
    position: absolute;
    top:15%;
    left:17%;   
}

.question{
    position: absolute;
    top:25%;
    left:15%;
    width:50%;
}

.answerChoices{
    position: absolute;
    top:40%;
    left:15%;
    font-size: 25px;
    color:black;
    font-weight: bold;
}

#message{
    position: absolute;
    top:25%;
    left:15%;
}

#correctedAnswer{
    position: absolute;
    top:30%;
    left:15%;
}  */